img {
    padding-top: 5%;
    width: 100%;
    height: auto;
  }

  .container .btn {
    position: absolute;
    top: 59%;
    left: 79%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 17px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .container .btn:hover {
    background-color: black;
  }